<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf = 'chores.length > finishedChores.length' style="color: firebrick">
        Work Harder!
    </p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img *ngIf = "chores.length === 0 || (finishedChores.length - chores.length) >= 3; else noAllowance" src="{{trophyImage}}"/>
</div>
<hr>

<ng-template #noAllowance><p style="color: #f1950a">No Allowance yet.</p></ng-template>

<h1 *ngIf = "chores.length === 0 && finishedChores.length >= 4; else instructions" style="color: #0a8f4d">Ice Cream Treat!</h1>

<ng-template #instructions>
    <h1 style="color: #0a8f4d">To earn an ice cream treat:</h1>
    <ol style="color: #0a8f4d">
        <li>The Chores list must be empty</li>
        <li>The Done Chores list must have 4 or more entries</li>
    </ol>
</ng-template>